header{
    display: flex;
}
ul{
    display: flex;
    /* list-style-type: none;
    text-decoration: none; */
    align-items: flex-start;
}
/* li{
    list-style: none;
}
a{
    text-decoration: none;
} */


body{
    display: flex;
    height: 100vh;
    width: 100%;
}
/* .p-5 d-flex align-items-center bg-primary text-white rounded{
    display: flex;
    flex-direction: column;
} */
h4{
    font-size: 5px;
    margin: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 500px;
    padding: 0.3rem;
}
